<div class="container">
    <h2>{{'ABOUT' | translate}}</h2>

    <p>{{'APP_NAME' | translate}} est une plateforme dédiée à la création et à la gestion d'événement personnel ou public.</p>

    <h2>{{'HISTORY' | translate}}</h2>

   <p>Le projet Evee a commencé fin 2014, lorsque les fondateurs du groupe Evee (Quentin Claudon, Antoine Muller, Jean-françois Muller et Jérémy Saidani) alors étudiants en Master d'Ingénierie du Logiciel et des Connaissances à l'université de Strasbourg, ont eu l'idée de créer une plateforme de création d'événements érgonomique et fun, lors de leur module de création de projet.</p>
</div>