<div class="container">
    <h2>{{'DATA' | translate}}</h2>
    <h3>{{'ENGAGEMENT' | translate}} :</h3>
    <p>Vous trouverez ci-dessous notre politique en matière de traitement des données personnelles.</p>
    <p> Ce texte a pour but de vous informer sur la manière dont nous utilisons ces données et vous indique la façon de procéder si vous souhaitez y apporter une modification</p>

    <h4>1/ Nature des données personnelles recueillies</h4>
    Les informations que nous sommes amenées à recueillir proviennent :
    <ul>
    <li>Soit de l'enregistrement volontaire d'une adresse e-mail vous permettant de vous connecter et de recevoir des notifications concernants vos événements</li>
    <li>Soit de la saisie complète de vos coordonnées dans votre profil en ligne.</li>
    </ul>

    <h4>2/ Cookies</h4>
    <p>Afin d'optimiser l'usage de ses services en ligne, Evee se réserve le droit de placer des cookies sur les ordinateurs des utilisateurs de ce site. Ces cookies sont notamment utilisés pour faciliter l'accès des utilisateurs à leurs comptes. Pour savoir comment refuser, supprimer ces "Cookies" ou être prévenu de leur réception par un message, veuillez consulter la rubrique d'aide de votre navigateur internet</p>
</div>