<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<div class="container">
    <h2>Nous contacter via le formulaire en ligne</h2>

    <p>Pour nous contacter via le formulaire en ligne, renseignez simplement le formulaire ci-dessous :</p>
    <div class="row">
        <contact-form></contact-form>
    </div>
    <h2>Nous contacter par mail</h2>

    <p>Pour nous contacter par mail, vous pouvez écrire directement à l’adresse suivante :<a href="mailto:contact@evee.xyz" class="text-primary"> contact@evee.xyz.</a></p>
</div>
</body>
</html>