<div class="container">
    <div class="row titleEvent">
        <div class="col-md-3 thumbnailEvent">
            <a href="#" class="thumbnail">
                <img src="../ressources/images/default_event_img.jpg" alt="default-event-img">
            </a>
        </div>
        <div class="col-md-9">
            <h3 class="h3typeEvent"><i class="fa fa-heart-o"></i> Type événement</h3>
            <h2 class="h2titleEvent">Titre</h2>
            <h4 class="h4dateEvent">20/01/2015</h4>
            <h4 class="h4descriptionEvent">Description : </h4>
        </div>
    </div>





</div>