<div class="container">
    <h2>{{'LEGAL' | translate}}</h2>


    <h2>{{'LEGAL' | translate}}</h2>

</div>
Mentions légales

Le site JournalduNet.com est édité par :

Benchmark Group,
69/71 avenue Pierre Grenier,
92517 Boulogne-Billancourt

Téléphone : 01 47 79 50 00

Société Anonyme au capital de 429 418,00 euros
RC Nanterre 403 191 802
N° de TVA intracommunautaire : FR 65 403 191 802
Président : Howto Media Group.
Le directeur de la publication est Benoît Sillard.

Benchmark Group est une société du groupe Howto Media Group
(nom commercial CCM Benchmark Group),
Société Anonyme au capital de 1 893 212,05 euros,
69/71 avenue Pierre Grenier 92517 Boulogne-Billancourt
RC Paris 512 085 630

Le site JournalduNet.com est hébergé par :
Equinix France SAS
114 rue Ambroise Croizat
93200 SAINT DENIS
SAS au capital de 23 510 900,40 €
RCS : Bobigny B 429 840 853

Ce site respecte le droit d'auteur. Tous les droits des auteurs des Oeuvres protégées reproduites et communiquées sur ce site, sont réservés. Sauf autorisation, toute utilisation des Oeuvres autres que la reproduction et la consultation individuelles et privées sont interdites.

Les sites internet édités par Benchmark Group ont fait l'objet d'une déclaration à la CNIL sous les numéros suivants :

Copainsdavant.com : 878453

Journaldesfemmes.com : 878460

Journaldumanagement.com : 878461

Journaldunet.com : 878462

Solutions.journaldunet.com : 878463

Linternaute.com : 878465

Benchmark.fr : 878468

Emploicenter.com : 878470



Benchmark Group consent à l''utilisateur le droit de consultation desdits sites pour son usage strictement personnel et privé. Toute reproduction, rediffusion ou commercialisation totale ou partielle du contenu est interdite.

Lire aussi notre engagement sur les données personnelles
