<div class="container">
    <h2>{{'LEGAL' | translate}}</h2>


    <p>Le site evee.xyz est édité par :</p>
    <p><strong> Evee</strong></p>
    <p>Groupe d'étudiants au capital de 1.000.000 euros</p>
    <p>Présidents : Quentin Claudon, Antoine Muller, Jean-françois Muller, Jérémy Saidani</p>





    <p>Le site evee.xyz est hébergé par :</p>

    <p><strong>GANDI SAS</strong></p>
    <p>Société par Actions Simplifiée au capital de 300.000€ ayant son siège social au</p>
    <p>63-65 boulevard Massena à Paris (75013) FRANCE,</p>
    <p>immatriculée sous le numéro 423 093 459 RCS PARIS</p>
    <p>N° TVA FR81423093459</p>
    <p>Téléphone : +33.(0) 1 70.37.76.61</p>
    <p>Télécopie +33.(0) 1 43 73 18 51</p>

    <p>Ce site respecte le droit d'auteur. Tous les droits des auteurs des Oeuvres protégées reproduites et communiquées sur ce site, sont réservés. Sauf autorisation, toute utilisation des Oeuvres autres que la reproduction et la consultation individuelles et privées sont interdites.</p>

    <p>Lire aussi notre engagement sur le <a ui-sref="data" >{{'DATA' | translate}}</a></p>
</div>