/* navbar-right */

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0px;
        padding-right: 15px;
    }
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a {
    color: #ffffff;
    font-size: 86%;
}

footer a:hover {
    color: lightsteelblue;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}
