/* Universal */
.center {
    text-align: center;
}

.right {
    text-align:right;
}

.orange {
    color : #df691a;
}

.red {
    color : red;
}
/* navbar-right */

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0px;
        padding-right: 15px;
    }
}

/* div.container */
div.container {
    /*border-left: 1px solid #eaeaea;*/
    /*border-right: 1px solid #eaeaea;*/
    /*background-color:#2b4258;*/
}

/* font */
h2 {
    padding-top:5px;
    border-top:1px solid #df691a;
    padding-bottom:10px;
}

strong {
    color : #df691a;
}

/* modal */
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

/* input */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(223, 105, 26, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(223, 105, 26, 0.6);
    outline: 0 none;
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a {
    color: #ffffff;
    font-size: 86%;
}

footer a:hover {
    color: lightsteelblue;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

.loader-element {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.loader-icon{
    font-size: 300% !important;
}

.default-evee-loader{
    color: #449d44;
}

/* event */
.titleEvent {
    border-top:1px solid #df691a;
    margin-top:21px;
}

.thumbnailEvent {
    margin-top:5px;
}

.h2titleEvent {
    border-top:none;
    margin-top:0px;
    padding-bottom: 0px;
    font-weight: 400;
}

.h3typeEvent {
    float:right;
    margin-top:10px;
    margin-right:10px;
    color:#df691a;
}

.h4dateEvent {
    color: #7ec7ff;
    margin-top:0px;
}

.h4descriptionEvent {
    width: 80%;
}