<footer class="footer">
    <div class="col-sm-12 footer-div">
        <small>
            <a href="http://www.evee.xyz/">Evee </a>
        </small>
        <nav>
            <ul>
                <li><a ui-sref="about" >{{'ABOUT' | translate}}</a></li>
                <li><a ui-sref="data" >{{'DATA' | translate}}</a></li>
                <li><a ui-sref="legal" >{{'LEGAL' | translate}}</a></li>
                <li><a ui-sref="help" >{{'HELP' | translate}}</a></li>
                <li><a ui-sref="contact" >{{'CONTACT' | translate}}</a></li>
            </ul>
        </nav>
    </div>
</footer>