<div class="row titleEvent">
    <div class="col-md-3 thumbnailEvent">
        <a href="#" class="thumbnail">
            <img src="../ressources/images/default_event_img.jpg" alt="default-event-img">
        </a>
    </div>
    <div class="col-md-9">
        <h3 class="h3typeEvent">Type événement</h3>

        <h2 class="h2titleEvent" ng-bind="event.title">Titre</h2>
        <h4 class="h4dateEvent">20/01/2015</h4>
        <h4 class="h4descriptionEvent">Description : {{event.description}}</h4>
    </div>
</div>

<div class="row" ui-sortable ng-model="event.modules">
    <div class="col-md-6" ng-repeat="module in event.modules">
        <h2 ng-bind="module.name"></h2>
        <dynamic-directive directive-name="module.moduleInfo.directiveName"
                            model="module"></dynamic-directive>
    </div>
    <!-- Wish List pour test QC-->
    <!--<div class="col-md-3" >
        <wish-list event-id="eventId"></wish-list>
    </div>-->
    <!-- Wall pour test JF -->
    <!--    <wall event-id="eventId"></wall>-->

    <div class="col-md-3 plus-border-module-event">
        <button class="btn no-background center-element" ng-click="addModule()">
            <span class="glyphicon glyphicon-plus-sign plus-module-event"></span>
        </button>
    </div>
</div>